.dialog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 0 30px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #ffffff;
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.48);
}