// 字体形式
$font-family: "PingFang SC", "Microsoft Yahei";

// 标题相关
$title-font-size: 20px;
$title-font-color:rgba(0,0,0,0.9);
$title-font-weight: 600;
$title-line-height: 24px;

// 正文相关
$content-font-size: 16px;
$content-font-color:rgba(0,0,0,0.7);
$content-font-weight:500;
$content-line-height:20px;

// 说明相关
$info-font-size: 14px;
$info-font-color:rgba(0,0,0,0.4);
$info-font-weight:400;
$info-line-height:18px;

// 辅助相关
$sub-font-size: 12px;
$sub-font-color:rgba(0,0,0,0.3);
$sub-font-weight:400;
$sub-line-height:14px;


// 边框相关
$border-radius:4px;
$border-normal-color:#dcdfe6;
$border-fouse-color:#F85415;

// 背景色相关
$background-color-normal: #ffffff;
$background-color-normal-hover: #F85415;
$background-color-mask:rgba(0,0,0,0.7);
$background-color-disable:#c8c9cc;

// 输入框相关
$input-height:40px;

// 颜色相关
$base-color: #ffffff;
$success-color:#67C23A;
$danger-color:#F56C6C;







